$white: #fff;
$light-gray: #C7CDD9;
$blue: #3877EE;
$iris: #5D5FEF;
$fuchsia: #EF5DA8;
$black-blue: #42567A;

$background: #F4F5F9;

$text-primary: $black-blue;
$text-secondary: $fuchsia;

$border-light: rgba(66, 86, 122, 0.1);
$border-medium: rgba(66, 86, 122, 0.2);
$border-dark: rgba(66, 86, 122, 0.5);
